@page
@model GolfPracticeTracker.Pages.NewPracticeData.NewPracticeDataModel
@{
    ViewData["Title"] = "NewPracticeData";
}

<header>
    <h4>Enter New Practice Data</h4>
    @*<h5>@Html.DisplayFor(modelItem => modelItem.PlayerName)</h5>*@
</header>



