@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h4>Jessman Wagner</h4>  @*Todo: Replace with logged in user*@
</div>
<table class="table">
    <thead>
        <tr>
            <th>Club</th>
            <th>Carry</th>
            <th>Total</th>
            <th>Diff</th>
            <th>Off L</th>
            <th>Off R</th>
            <th>Last Practice</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var club in Model.ClubAverages)
        {
            //string selectedRow = "";
            //if (club.ID = Model.ClubID)
            //{
            //    selectedRow = "success";
            //}

        <tr class="@selectedRow ">
            <td></td>
            <td></td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        }*@
    </tbody>
</table>